@page "/"
@page "/{Date}"
@page "/{Date}/{Reunion:int}/{Course:int}"
@using We.Blazor
@using We.Turf.Queries;
@inherits WeComponentBase
<Button Clearfix Class="" Style=""></Button>
<Row>
    @if (_currentClassifier == 0)
    {

        <Column Class="col-sm-4 col-md-4 col-lg-2  mx-auto ">
            <Field>
                <FieldLabel>Indice de confiance</FieldLabel>
                <Select TValue="int" SelectedValue="@_indiceConfiance" SelectedValueChanged="@OnCurrentIndiceConfianceChanged">
                    @for (int i = 0; i < Classifiers.Count - 1; i++)
                    {
                        var j = i + 1;
                        <SelectItem Value="j">
                            @(
                        j
                        )
                        </SelectItem>
                    }


                </Select>
            </Field>
        </Column>
    }
    <Column Class="col-sm-4 col-md-4 col-lg-2  mx-auto ">
        <Field>
            <FieldLabel>Classificateur</FieldLabel>
            <Select TValue="int" SelectedValue="@_currentClassifier" SelectedValueChanged="@OnCurrentClassifierChanged">
                @foreach (var (item, index) in Classifiers.OrderByDescending(x => x.Percentage).WithIndex())
                {
                    <SelectItem Value="index">@item.Classifier.Replace("classifier","").Replace('_',' ').ToPascalCase()</SelectItem>
                }

            </Select>
        </Field>

    </Column>

    <Column Class="col-sm-4 col-md-4 col-lg-2  mx-auto ">
        <Field>
            <FieldLabel>Discipline</FieldLabel>
            <Select TValue="string" SelectedValue="@_currentDiscipline" SelectedValueChanged="@OnCurrentDisciplineChanged">

                @foreach (var (item, index) in Disciplines.WithIndex())
                {
                    <SelectItem Value="index">@item.Nom.Replace('_',' ').ToPascalCase()</SelectItem>
                }

            </Select>
        </Field>
    </Column>

    <Column Class="col-sm-4 col-md-4 col-lg-2  mx-auto ">
        <Field>
            <FieldLabel>Type de Pari</FieldLabel>
            <Select TValue="TypePari" SelectedValue="@_currentPari" SelectedValueChanged="@OnCurrentPariChanged">

                <SelectItem Value="TypePari.Place">Placé</SelectItem>
                <SelectItem Value="TypePari.Gagnant">Gagnant</SelectItem>
                <SelectItem Value="TypePari.Tous">Placé/Gagnant</SelectItem>

            </Select>
        </Field>
    </Column>
</Row>
<Row>

    <Column Class="col-sm-8 col-md-6 col-lg-5  mx-auto ">

        <Div Class="programme-tab container">
            <Row>
                <Column ColumnSize="ColumnSize.IsFull">
                    <CascadingValue Name="SelectMode" Value="_mode">
                        <CascadingValue Name="Date" Value="CurrentDate" TValue="DateOnly?">
                            <ProgrammeHeader DateChanged="SetDate" OnSelectMode="ShowCourseOrReunion"></ProgrammeHeader>
                        </CascadingValue>
                    </CascadingValue>
                </Column>

            </Row>
            <Row>
                <Column ColumnSize="ColumnSize.IsFull">
                    @if (CurrentDate == Today)
                    {
                        <CascadingValue Name="Predicteds" Value="Predicteds">
                            <ProgrammeContent />
                        </CascadingValue>

                    }
                    else if (CurrentDate < Today && ShowProgrammeCourse)
                    {
                        <CascadingValue Name="ProgrammeCourses" Value="ProgrammeCourses">
                            <CascadingValue Name="Predicteds" Value="Predicteds">
                                <CascadingValue Name="ResultatsOfPredicteds" Value="ResultatsOfPredicteds">
                                    <CascadingValue Name="Resultats" Value="ResultatOfPredictedStatistical">
                                        <CascadingValue Name="PredictionsOnly" Value="PredictionsOnly">
                                            <CascadingValue Name="TypePari" Value="CurrentPari">
                                                <ProgrammeCourseContent SommeDesMises="SommeDesMises" IndiceConfiance="IndiceConfiance" Classifier="_currentClassifier" />
                                            </CascadingValue>
                                        </CascadingValue>
                                    </CascadingValue>
                                </CascadingValue>
                            </CascadingValue>
                        </CascadingValue>
                    }
                    else if (CurrentDate < Today && ShowProgrammeReunion)
                    {

                        <CascadingValue Name="ProgrammeReunions" Value="ProgrammeReunions">
                            <ProgrammeReunionContent />
                        </CascadingValue>
                    }


                </Column>

            </Row>
        </Div>
    </Column>
    <Column Class="col-lg-7 d-none d-lg-block">
        <Div Class="main-tab container">
            <LineChart @ref="lineChart" TItem="double" />
        </Div>
    </Column>
</Row>
